# These are development related folder
.idea
venv
.DS_Store
*.pyc

# These are exceptions of above
!.gitkeep

deployment/ansible/development/group_vars/all.yml
deployment/ansible/development/site.retry
deployment/ansible/tmp/*
deployment/docker-compose.override.yml
/inasafe
deployment/pycharm-helpers/
