
        <env name="PYTHONUNBUFFERED" value="1" />
        <env name="PYTHONPATH" value="/usr/share/qgis/python:/usr/share/qgis/python/plugins:/usr/share/qgis/python/plugins/inasafe:/home/app" />
        <env name="DISPLAY" value=":99" />
        <env name="INASAFE_LOCALE" value="id" />
        <env name="C_FORCE_ROOT" value="True" />

        {% if 'broker_url' in inasafe_headless_worker %}

        <env name="INASAFE_HEADLESS_BROKER_HOST" value="{{ inasafe_headless_worker.broker_url }}" />

        {% else %}

        <env name="INASAFE_HEADLESS_BROKER_HOST" value="amqp://guest:guest@rabbitmq:5672/" />

        {% endif %}

        <env name="INASAFE_WORK_DIR" value="/home/headless/" />
        <env name="COMMON_TEST_DATA" value="{{ integration_test.mapped_test_data_path }}" />
        <env name="INASAFE_OUTPUT_DIR" value="{{ integration_test.mapped_output_data_path }}" />
        <env name="TASK_ALWAYS_EAGER" value="True" />
        <env name="QGIS_DEBUG" value="0" />
        <env name="PUSH_TO_REALTIME_GEONODE" value="{{ geonode_push.enable }}"/>
        <env name="REALTIME_GEONODE_USER" value="{{ geonode_push.user }}" />
        <env name="REALTIME_GEONODE_PASSWORD" value="{{ geonode_push.password }}" />
        <env name="REALTIME_GEONODE_URL" value="{{ geonode_push.url }}" />

        {% if 'environment' in inasafe_headless_worker %}

        {% for key, value in inasafe_headless_worker.environment.iteritems() %}

        <env name="{{ key }}" value="{{ value }}" />

        {% endfor %}

        {% endif %}

