
        <env name="PYTHONUNBUFFERED" value="1" />
        <env name="PYTHONPATH" value="/usr/share/qgis/python:/usr/share/qgis/python/plugins:/usr/share/qgis/python/plugins/inasafe:/home/app" />
        <env name="DISPLAY" value=":99" />
        <env name="INASAFE_LOCALE" value="id" />
        <env name="C_FORCE_ROOT" value="True" />
        <env name="INASAFE_HEADLESS_BROKER_HOST" value="amqp://guest:guest@rabbitmq:5672/" />
        <env name="INASAFE_WORK_DIR" value="/home/headless/" />
        <env name="TASK_ALWAYS_EAGER" value="True" />

